<div id="project-list-wrapper" class="list-padding">
    <div class="fix-wrapper">
        <div class="left-side-area height-wrapper">
            <div class="project-view-box image-box">
                <img ng-show="data.length" src="{{data[0].project_image}}">
            </div>
            <!--/.project-view-box-->
        </div>
        <!--/.left-side-area-->

        <div class="right-side-area list-padding height-wrapper">
            <ul class="project-list">
                <li data-ng-repeat="item in data=(projects|filter:searchProject)">
                    <a ui-sref="projectState({slug: item.project_slug})"><strong>{{item.project_title}}</strong></a> - [<span>{{item.project_location}}</span>]
                </li>
            </ul>
        </div>
        <!--/.right-side-area-->

    </div>
    <!--/.fix-wrapper-->

</div>