<div id="content-wrapper">
        <div class="fix-wrapper-index page">
            <slick dots="false" infinite="true" speed="500" slides-to-show="1" touch-move="true" slides-to-scroll="1" autoplay="true" autoplaySpeed="500" arrows="false">
                <div class="home-slider fixed-height" data-ng-repeat="item in projects">
                    <img alt="{{item.project_title}}" src="{{item.project_image}}" />
                </div>
            </slick>
        </div>
</div><!--/#content-wrapper-->