<div id="content-wrapper" class="height-wrapper">
    <span class="tl plus"></span>
    <span class="tr plus"></span>
    <span class="bl plus"></span>
    <span class="br plus"></span>
    <div class="fix-wrapper-index page">
        <slick class="slick-home" dots="false" infinite="true" speed="500" autoplay="true" autoplaySpeed="500" arrows="false" pauseOnHover="true" delay="300">
            <div class="home-slider" data-ng-repeat="item in data=(projects|filter:{is_featured:1})">
                <img src="{{item.project_image}}" data-ng-image-load-animation="" />
            </div>
        </slick>
    </div>
</div>