<div id="project-info-wrapper" class="">
    <span class="tl plus"></span>
    <span class="tr plus"></span>
    <span class="bl plus"></span>
    <span class="br plus"></span>
    <div class="fix-wrapper-index">
        <div class="control-box">
            <p><a class="info-btn" href="#">INFO &gt;</a></p>
            <p><a class="prv-slick">&lt;</a></p>
            <p><a class="count-slick">{{currentIndex}}/{{project.images.length}}</a></p>
            
            <p><a class="nxt-slick">&gt;</a></p>
            <p><a class="prv-project" ui-sref="projectState({slug: prvProject})">&lt; PROJECT</a></p>
            <p><a class="nxt-project" ui-sref="projectState({slug: nxtProject})">PROJECT &gt;</a></p>
            <p><a ui-sref="projectListState({slug: project.type})">BACK TO LIST</a></p>
        </div>

        <div class="height-wrapper">
            <slick class="height-wrapper" currentIndex="1" dots="false" infinite="true" speed="1000" touch-move="true" arrows="true" settings="slickConfig" draggable="true" fade="true">
                <div lightgallery class="project-image" data-ng-repeat="item in data=(project.images)" data-src="{{item.url}}">
                    <img src="{{item.url}}" data-ng-image-load-animation="" />
                </div>
            </slick>
        </div>
    </div>
    <!--/.fix-wrapper-->
    <div id="info-wrapper">
        <div class="info-menu-wrapper">
            <ul class="info-menu">
                <li>{{title|uppercase}}</li>
                <!--<li>{{featDetails|uppercase}},</li>-->
                <li>[ {{project.specification[0].item_val|uppercase}} ]</li>
            </ul>
        </div>
        <!--/.info-menu-wrapper-->
        <span class="more-btn">
            <a ng-if="project.desc.length>3" ng-href="page/writing#{{project.slug}}">MORE</a>
        </span>
    </div>
    <!--/#info-wrapper-->
</div>
<!--/#project-info-wrapper-->
