<div id="project-list-wrapper" class="page-text page-padding">
    <div class="fix-wrapper-page anim-in-out anim-fade">
        <div class="right-side-area width-full height-wrapper" data-ng-scroll="">
            <p id="{{key}}" data-ng-repeat="(key, val) in single">
                <span ng-bind-html="val.desc|highlight:searchPage"></span>
            </p>
        </div>
        <!--/.right-side-area-->
    </div>
    <!--/.fix-wrapper-->
</div>

<div class="search">
    <input ng-model="searchPage" placeholder="< Search >" />
</div>