.sprite2 {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAE0AAAA4CAYAAAC45nXCAAACqElEQVR4nO2b3ZGDIBRGKSElpISUkBK2BEtICb5lJlnnSweWkBJSgiVYgiVkHy6sQAADGtF4zwwvRhHOXpC/FYJhZgUod0B1Aqpy2lTu3nt/VQLobjc8VQLw+HS9RwHgLgt6n0YWIPNr3ng3dFmrkSYLWQPogOtxTF7A5UD5oL7d8Azfe967hK1GmhBCAFVBBa6KlHyAqiBhVannG7rfIauWEZtUhtnQK6dHSkweql8Cfn9c+fqesYTd40ufCbtywHkPoKEU7szpI4IaQAtcDqF8X5+1pVGErgJX5aSMu0uGdY9X7kC+DwCtFWmtvP5YvMBQRMiKGM2Orv83484XjW5p16Ov8x/7IVAfH9U3xj4fhU+abHYNjeHQAdWJrv9/ME7xkfYZaUC5e83jvI/JIwp35ZQwkqFFVqNHXqiJzh1pWaXZwvrrqtM3+zifOH8EX4+U+ubUDzfUb/EVlkMe1ScWsc9HYQ453MKGcIlb8teTypv2xxFC6IPbNGFmQXpxc0uzmye9w+wOQNgR7h0hBF8mhwHJwhS6uCVKC/ShXVTUaRN2zDlhX5I0Vf8IaXmWhjI1z041Rcc0btmLBELk69P695tju7VIO80vzXzH6qRNDUtLgKUlwNISYGkJsDSGYRiG2QS0XzruWMNXQEvCQ0s8l4O+h6mOJpDEFRwxmBq5UeFd0ZW78Z09sNQENpuTZlb+dR3dXhNzi1v4bvnUAHhYkWNs4dm/j1pC/hZcx6GkjFad9QhL2+CHQZ3lGGqCvpS7/FlQO1UpCUCbu/xZiNkCc0j77MmdJQP8/gz1XdyfWdi7Rm9G2bYX9NRRgzhpkWcjvpF+F364mW5uBuBDzi9rFjaAPCT31pDDN83aJLJZFnL0b///UqtOL+YuJ8MwDMMwDMMwkfwBky3gRKIqjtsAAAAASUVORK5CYII=);
    background-repeat: no-repeat;
    display: block;
}

.sprite-simage1 {
    width: 23px;
    height: 16px;
    background-position: -2px -2px;
}

.sprite-simage2 {
    width: 11px;
    height: 18px;
    background-position: -29px -2px;
}

.sprite-simage3 {
    width: 31px;
    height: 30px;
    background-position: -2px -24px;
}

.sprite-simage4 {
    width: 31px;
    height: 30px;
    background-position: -44px -2px;
}
